@import 'reset';
@import 'vars';

body {
  font-family: Helvetica, Arial;
  font-size: 62.5%;
}

.inputs {
  display: none;
  position: absolute;
  top: 0;

  &-group {
    display: flex;
    flex-direction: column;
    margin: 5px;

    & label {
      color: white;
      font-size: 1.6rem;
    }
  }
}

.welcome {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  color: white;

  &-title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &-subtitle {
    font-size: 1.8rem;
  }
}

.scene {
  background-color: black;
}

.nomidi {
  display: none;
  background-color: color(white a(.4));
  border: .1rem solid white;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 10;
  padding: 1rem 1.6rem;
  border-radius: .4rem;
  color: white;

  &-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: .4rem;
  }

  &-subtitle {
    opacity: .8;
    font-size: 1.4rem;
  }
}

.browser-reqs {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: white;
  z-index: 10;
  font-size: 1.2rem;
  opacity: .2;
}

.oneshoteffects {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  &-strobe {
    display: none;
    background-color: white;
    animation: strobe steps(1, end) infinite;
    animation-duration: 100ms;
  }

  &-fadeout {
    display: none;
    background-color: black;
    opacity: 0;
    animation: fadeout 200ms;
    animation-fill-mode: forwards;
  }

  &-disco {
    display: none;
    background-color: white;
    animation: disco 500ms infinite;
  }
}

@keyframes strobe {

  50% {
    background: black;
  }

}

@keyframes fadeout {

  100% {
    opacity: 1;
  }

}

@keyframes disco {

  0% {
    background: hotpink;
  }

  25% {
    background: cyan;
  }

  50% {
    background: hotpink;
  }

  75% {
    background: cyan;
  }

  100% {
    background: hotpink;
  }

}
